@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  .global-px {
    @apply px-5 md:px-10 lg:px-32;
  }
  .mw-global {
    @apply mx-auto;
  }
  .btn {
    @apply px-8 capitalize font-bold;
  }

  .table-ticket {
    @apply border-2 border-solid border-black shadow-2xl;
  }
  .table-ticket td {
    @apply pl-10 text-start;
  }
  .ticket-cut {
    @apply relative;
  }
  .ticket-cut::before {
    @apply w-10 h-5 rounded-t-full -bottom-1 -left-5 flex absolute bg-slate-300 border border-b-0 shadow-inner;
    content: "";
  }
  .admin-input {
    @apply input input-bordered input-primary rounded w-full;
  }
}
